plugins {
    id 'nf-metro@0.1.0'
}

process.executor = 'local'

executor {
    cpus      = 2
    queueSize = 4
}

metro {
    map    = System.getenv('METRO_MAP')
    port   = (System.getenv('METRO_PORT') ?: '8091') as Integer
    binary = System.getenv('METRO_BINARY') ?: 'nf-metro'
    open   = false
}
